.badge {
  font-weight: 500;
  padding: 0.5rem 0.8rem;
}

.badges-pnl {
  align-items: center;
  display: inline-flex;

  h3 {
    color: #b6b6b6;
  }
}

.badge-pill {
  border-radius: 10rem;
}

.card {
  background-color: unset;
}

.card-title {
  color: #C5A483;

  .text-muted {
    color: #6c757d;
  }
}

.card-body {
  color: #b6b6b6;

  .text-muted {
    color: #6c757d !important;
  }
}

.border {
  border: unset !important;
}

.contact {
  flex: 0
}